.guest-body {
    background-image: url("../img/imc_image_lms_schools_2021_10.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    /*box-shadow: inset 0 0 0 2000px rgb(179 179 179 / 21%);*/
    /*min-height: 100%;*/
}

.guest-body .main-content {

}

#status-group .radio {
    display: inline-block;
    position: relative;
}

#status-group .radio {
    min-height: 145px;
    min-width: 145px;
}

#status-group .radio {
    display: inline-block;
    position: relative;
}

#status-group {
    text-align: center;
}

#status-group .radio label {
    min-height: 20px;
    /*padding-left: 20px;*/
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

input[name='status'] {
    position: relative !important;
    margin-left: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
}

#status-group .radio label p {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

input.register-profile[value='0']:after {
    position: relative;
    top: 0;
    display: block;
    content: ' ';
    background: url(../img/coursestudent_na.svg);
    width: 132px;
    height: 132px;
    border-radius: 0;
    -webkit-transition: color 1s, -webkit-box-shadow 1s;
    transition: color 1s, -webkit-box-shadow 1s;
    transition: box-shadow 1s, color 1s;
    transition: box-shadow 1s, color 1s, -webkit-box-shadow 1s;
    border: 4px solid #FFFFFF;
}

input.register-profile[value='0']:checked:after {
    -webkit-box-shadow: 2px 2px 14px rgb(0 0 0 / 40%);
    box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
    background: url(../img/coursestudent.svg);
    border-color: #E4CE80;
    transition: all 250ms ease;
    will-change: transition;
    top: 5px;
}

input.register-profile[value='1']:after {
    position: relative;
    top: 0;
    display: block;
    content: ' ';
    background: url(../img/coursemanager_na.svg);
    width: 132px;
    height: 132px;
    border-radius: 0;
    -webkit-transition: color 1s, -webkit-box-shadow 1s;
    transition: color 1s, -webkit-box-shadow 1s;
    transition: box-shadow 1s, color 1s;
    transition: box-shadow 1s, color 1s, -webkit-box-shadow 1s;
    border: 4px solid #FFFFFF;
}

input.register-profile[value='1']:checked:after {
    -webkit-box-shadow: 2px 2px 14px rgb(0 0 0 / 40%);
    box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
    background: url(../img/coursemanager.svg);
    border-color: #76CDE4;
    transition: all 250ms ease;
    will-change: transition;
    top: 5px;
}

img.edit-image {
    width: 500px;
    align-self: center;
    border-radius: 20px;
    box-shadow: 3px 2px 20px 0px #ececec;
    margin: 20px 20px;
}


.course-tool .big-icon {
    padding: 10px;
    text-align: center;
}

.big-icon img {
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #c8c8c8;
    border: 1px solid #e6e6e6;
    width: 76px;
    height: 76px;
}

.course-tool .content {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.badges {
    display: flex;
    justify-content: center;
    gap: 5px;

}

.badges .badge-item {
    height: 25px;
    width: 25px;
    border-radius: 50%;


}

.badges .badge-item img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow: 0 0 4px 0 #de68ff;
}


.frame {

    /*min-height: 300px;*/
    /*height: 80%;*/
    /*background-color: #fff;*/
    /*border-radius: 12px;*/
    /*box-shadow: 1px 0 10px 1px rgba(0,0,0,0.1);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    /*overflow-y: scroll;*/
}
.frame header {
    font-size: 2rem;
    font-weight: bold;
    font-family: Glory, sans-serif;
}
.button-group {
    background-color: #f2f3f7;
    margin: 1rem 0;
    display: flex;
    padding: 5px;
    border-radius: 16px;
    min-height: 40px;
    overflow: hidden;
    position: relative;
}
/*.button-group button.active:before {*/
/*    left: 4px;*/
/*}*/
/*.button-group[data-left="50%"]:before {*/
/*    left: 50%;*/
/*}*/
.button-group button.active:before {
    transition: all 0.3s ease;
    content: '';
    position: absolute;
    top: 0px;
    width: calc(100%);
    left: 0;
    height: calc(100% - 0px);
    background-color: #fff;
    z-index: 1;
    border-radius: 16px;
}
.button-group button{
    position: relative;
    height: 40px;
    width: 100px;

}
.button-group button span{
    z-index: 2;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    bottom: 50%;
    line-height: 0px;
}
.button-group button {
    flex: 1;
    min-width: 120px;
    padding: 5px 3px;
    border: none;
    font-family: Glory, sans-serif;
    position: relative;
    background-color: transparent;
    z-index: 1;
}
.button-group button:hover {
    cursor: pointer;
}
.score-card {
    flex: 1;
    margin: 1rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.score-card .leader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 60px;
}
.score-card .leader:not(:first-child) {
    margin-top: 1rem;
}
.score-card .leader .user {
    padding: 2px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #ebedf6;
}
.score-card .leader .user .number {
    padding: 3px 7px 3px;
    font-weight: bold;
    font-size: 1.2rem;
}
.score-card .leader .user .user-pic {
    background: linear-gradient(0deg, #22c1c3 0%, #5e72e4 100%);
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.score-card .leader .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3px 5px;
    min-width: 50px;
    width: 100px;
}
.score-card .leader .user-info .user-name {
    font-weight: bold;
    text-transform: capitalize;
}
.score-card .leader .user-info .view-count {
    color: #a0a1aa;
    font-size: 0.8rem;
}
.score-card .leader .gallery {
    display: flex;
    align-items: center;
    margin: 0 0 0 5px;
}
.score-card .leader .gallery .gallery-item {
    /*background: #eeaeca;*/
    border-radius: 1rem;
    max-width: 60px;
    height: 50px;
}
.score-card .leader .gallery .gallery-item img{
    height: 50px;
}
.score-card .leader .gallery .gallery-item:not(:first-child) {
    margin-left: 5px;
}
.cta-primary {
    min-width: 120px;
    padding: 8px 3px;
    border: 1px solid currentcolor;
    background-color: #0e1126;
    color: #fff;
    border-radius: 16px;
}
.cta-primary:hover {
    transition: all 0.1s ease;
    cursor: pointer;
    border: 1px solid #0e1126;
    color: #0e1126;
    background-color: #fff;
}
