a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

.navigation {
  background: linear-gradient(to right, transparent 50%, #FFDC11 50%);
  transition: 0.2s ease;
}

.subjectCard {
  height: 384px;
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: rgba(31, 31, 31, 0.12) 0px 1px 6px, rgba(31, 31, 31, 0.12) 0px 1px 4px;
  cursor: pointer;
}
.subjectCard:hover {
  box-shadow: rgba(31, 31, 31, 0.16) 0px 3px 10px, rgba(31, 31, 31, 0.23) 0px 3px 10px;
}
.subjectCard img {
  -webkit-box-align: center;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subjectCard .card-header {
  position: relative;
  margin-top: 32px;
  z-index: 1;
  text-align: left;
  padding: 0.75rem 1.5rem;
  background: transparent;
}

.Enroll-btn {
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  line-height: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  background-image: none;
  cursor: pointer;
  filter: none;
  text-decoration: none;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: #FFDC11;
  border: 1px solid #FFDC11;
  padding: 0.9rem 2rem;
  font-size: 1rem;
  min-height: 48px;
}

.subject-body {
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
}

.SyllabusWeek .moduleWeeks {
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;
}
.SyllabusWeek .moduleWeeks .week {
  font-size: 2.875rem;
  line-height: 4.5rem;
  font-weight: normal;
  font-family: OpenSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.SyllabusWeek .moduleWeeks span {
  font-size: 3.75rem;
  line-height: 4.5rem;
  font-weight: normal;
  font-family: OpenSans-Light, OpenSans, Arial, sans-serif;
}

.SyllabusModule {
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  flex: auto;
  padding-right: 12px;
  border-bottom: 1px solid #e3e4e5;
}
.SyllabusModule h2 {
  font-size: 20px;
  line-height: 24px;
}
.SyllabusModule .module-desc {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: normal;
  font-family: OpenSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.objective-icon {
  background-image: linear-gradient(90deg, rgb(72, 207, 173), rgb(59, 175, 218));
  border-radius: 50%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.countingObjective {
  color: #6e767f;
}

.seeallbtn {
  border-radius: 4px;
  text-transform: none;
  text-align: center;
  max-width: 320px;
  min-width: unset;
  transition: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #0056d2;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.1px;
  padding: 8px;
  background-color: transparent;
  border: 0;
}

.objectiveItem {
  border-top: 1px solid #e3e4e5;
  padding-top: 1.5rem !important;
}

.horizontal-box {
  display: flex;
  align-items: flex-end;
  bottom: 0;
  flex-direction: row;
}
.horizontal-box .week-section {
  position: relative;
  top: 2px;
  min-width: 156px;
}
.horizontal-box .week-section .vertical-box {
  display: flex;
  flex-direction: column;
}
.horizontal-box .week-section .rc-WeekStatusIndicator {
  align-items: center;
  padding: 0 2.5rem;
}
.horizontal-box .week-section .rc-WeekStatusIndicator .completed {
  width: 12px;
  height: 12px;
  margin-top: -2px;
  background-color: #1f8354;
  border-radius: 100%;
  z-index: 10;
  transform: translateY(-65%);
}
.horizontal-box .week-section .rc-WeekStatusIndicator .label {
  font-family: OpenSans-Bold, OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 12px;
  line-height: 23px;
}
.horizontal-box .week-section .rc-WeekStatusIndicator:after, .horizontal-box .week-section .rc-WeekStatusIndicator:before {
  background: rgba(0, 0, 0, 0.255);
  content: "";
  height: 3px;
  z-index: 0;
  position: absolute;
  width: 50%;
  bottom: 36px;
}
.horizontal-box .week-section .rc-WeekStatusIndicator:before {
  left: 0;
}
.horizontal-box .week-section .rc-WeekStatusIndicator:after {
  left: 50%;
}
.horizontal-box .week-section .rc-WeekStatusIndicator.week-completed:after {
  background: #1f8354;
}
.horizontal-box .week-section .rc-WeekStatusIndicator .ontrack {
  width: 12px;
  height: 12px;
  margin-top: -2px;
  background-color: #757575;
  border-radius: 100%;
  z-index: 10;
  transform: translateY(-65%);
}
.horizontal-box .week-section .rc-WeekAssignmentIcons .vertical-box {
  align-items: center;
}
.horizontal-box .week-section .rc-WeekAssignmentIcons .vertical-box .hoverable-overlay-trigger {
  z-index: 10;
}
.horizontal-box .week-section .rc-WeekAssignmentIcons .vertical-box .hoverable-overlay-trigger .icon-wrapper {
  display: flex;
  border-radius: 50%;
  background-color: #fff;
}
.horizontal-box .week-section .rc-WeekAssignmentIcons .label {
  margin-top: 8px;
  white-space: nowrap;
}
.horizontal-box .week-section .rc-WeekAssignmentIcons:before {
  left: 0;
}
.horizontal-box .week-section .rc-WeekAssignmentIcons:after, .horizontal-box .week-section .rc-WeekAssignmentIcons:before {
  background: rgba(0, 0, 0, 0.255);
  content: "";
  height: 3px;
  z-index: 0;
  position: absolute;
  width: 50%;
  bottom: 36px;
}
.horizontal-box .week-section .rc-WeekAssignmentIcons:after {
  left: 50%;
}
.horizontal-box .week-section .rc-WeekAssignmentIcons.week-completed:after {
  background: #1f8354;
}
.horizontal-box .week-section .rc-WeekAssignmentIcons.prev-week-completed:before {
  background: #1f8354;
}

.label {
  font-family: OpenSans-Bold, OpenSans, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 12px;
  line-height: 23px;
}

.start-week-section .rc-WeekStatusIndicator:before {
  content: unset !important;
}

.end-week-section .rc-WeekStatusIndicator:after {
  content: unset !important;
}

.welcome-progress {
  display: flex;
  justify-content: center;
  align-content: center;
}

.end-week-section .prev-week-completed::before {
  background: #1f8354 !important;
}

.end-week-section .prev-week-completed .ontrack {
  background: #1f8354 !important;
}

.accordion-button svg {
  margin-right: 1rem;
}

.rating > input {
  display: none;
}

.rating > label i {
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label > i {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label > i,
.rating:not(:checked) > label:hover i,
.rating:not(:checked) > label:hover ~ label, label.checked i {
  color: #FFD700;
} /* hover previous stars in list */
.rating > input:checked + label:hover i,
.rating > input:checked ~ label:hover i,
.rating > label:hover ~ input:checked ~ label i,
.rating > input:checked ~ label:hover ~ label i {
  color: #FFED85;
}

.objectives li {
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 5px;
}
.objectives li:hover {
  background-color: #d9d9d9;
}
.objectives li.active {
  background-color: #d9d9d9;
}

aside {
  width: 15%;
}
